{{define "page"}}
<!DOCTYPE html>
<html class="is-dark has-background-black-bis">
    <head>
        {{template "head" . -}}
        <link rel="icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <style>
            html::-webkit-scrollbar {
                display: none;
            }
    
            html {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;
            }
        </style>
    </head>
    <body class="has-text-light">
        
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <img src="/static/pseudowhite.png" id="icon" alt="Home">
                </a>
            </div>
            <div class="navbar-start">
                <a class="navbar-item" href="/lexos">
                    Lexos
                </a>
            </div>
        </nav>
        {{template "body" . -}}
    </body>
</html>

{{end}}